doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    title judicialTransactionTracking
    |     
    link(rel='stylesheet', href='css/bootstrap.min.css')
    |     
    link(rel='stylesheet', href='css/userFinancialProductsPurchase.css')
  body
    .userlog_background
      img(src='images/judicialTransactionTracking.png', alt='')
    header.container-fluid.navbar-fixed-top.user_top
      .userLogin_top
        .text-center.col-md-8.col-sm-8.col-xs-6
          h2 &#x706B;&#x661F;&#x94F6;&#x884C;&#x661F;&#x706B;&#x8DEF;&#x652F;&#x884C;
        |         
        .col-md-1.col-sm-1.col-xs-2
          p.btn.btn-success &#x7406;&#x8D22;
        |         
        .col-md-1.col-sm-1.col-xs-2
          p.btn.btn-success &#x62B5;&#x62BC;
        |         
        .col-md-1.col-sm-1.col-xs-2
          p.btn.btn-success &#x8D37;&#x6B3E;
    // top 结束！
    .userFinancialProductsPurchase_body
      .ufpp_body_h.container.text-center
        img.img-rounded(src='images/buybtnb.png', alt='')
        |         
        h2.text-center &#x62B5;&#x62BC;&#x8D37;&#x6B3E;&#x5217;&#x8868;
      |     
      .row.text-center
        .userMortgageHistory.container.text-center
          .col-md-4.col-sm-4.col-xs-3.uFPP_b
            h4 &#x7528;&#x6237;id:
          |             
          .col-md-8.col-sm-8.col-xs-9.uFPP_b
            h4 &#x673A;&#x6784;&#x8FFD;&#x8E2A;&#x6570;&#x636E;
        |         
        .userMortgageHistory.container.text-center
          .col-md-4.col-sm-4.col-xs-3.uFPP_bb
            h4 20170001:
          |             
          .col-md-8.col-sm-8.col-xs-9.uFPP_bb
            h4
              p &#x4E8E; &#x706B;&#x661F;&#x94F6;&#x884C;&#x661F;&#x706B;&#x8DEF;&#x652F;&#x884C; &#x8D2D;&#x4E70; &#x706B;&#x661F;&#x7406;&#x8D22;&#x58F9;&#x53F7;A   &#x62B5;&#x62BC; &#x7ED9; &#x571F;&#x661F;&#x94F6;&#x884C;&#x4E50;&#x6263;&#x8DEF;&#x652F;&#x884C; 15 &#x4E07;&#x5143;      13&#x4E07;
        |         
        .userMortgageHistory.container.text-center
          .col-md-4.col-sm-4.col-xs-3.uFPP_bb
            h4 20170025:
          |            
          .col-md-8.col-sm-8.col-xs-9.uFPP_bb
            h4
              p &#x4E8E; &#x706B;&#x661F;&#x94F6;&#x884C;&#x661F;&#x706B;&#x8DEF;&#x652F;&#x884C; &#x8D2D;&#x4E70; &#x706B;&#x661F;&#x7406;&#x8D22;&#x8D30;&#x53F7;A
          |             
          .uFPP_bbb.text-center.col-md-12.col-sm-12
        // 加最下面的横线
      |     
      footer
        // 
