doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    title userFinancialProductsDisplay
    |     
    link(rel='stylesheet', href='css/bootstrap.min.css')
    |     
    link(rel='stylesheet', href='css/userFinancialProductsPurchase.css')
  body
    .userlog_background
      img(src='images/userFinancialProductsDisplay.png', alt='')
    header.container-fluid.navbar-fixed-top.user_top
      .userLogin_top
        .text-center.col-md-8.col-sm-8.col-xs-6
          h2 &#x706B;&#x661F;&#x94F6;&#x884C;&#x661F;&#x706B;&#x8DEF;&#x652F;&#x884C;
        |         
        .col-md-1.col-sm-1.col-xs-2
          p.btn.btn-success &#x7406;&#x8D22;
        |         
        .col-md-1.col-sm-1.col-xs-2
          p.btn.btn-success &#x62B5;&#x62BC;
        |         
        .col-md-1.col-sm-1.col-xs-2
          p.btn.btn-success &#x8D37;&#x6B3E;
    .userFinancialProductsPurchase_body
      .ufpp_body_h.container.text-center
        img.img-rounded(src='images/buybtnb.png', alt='')
        |         
        h2.text-center &#x6211;&#x7684;&#x7406;&#x8D22;&#x9875;&#x9762;
      |     
      .row.text-center
        .container
          .col-md-3.col-sm-3.col-xs-3.uFPP_b
            h4 &#x4EA4;&#x6613;&#x7F16;&#x53F7;
          |             
          .col-md-2.col-sm-2.col-xs-2.uFPP_b
            h4 &#x5DF2;&#x8D2D;&#x4E70;&#x7684;&#x7406;&#x8D22;&#x7F16;&#x53F7;
          |             
          .col-md-2.col-sm-2.col-xs-2.uFPP_b
            h4 &#x5DF2;&#x8D2D;&#x4E70;&#x7684;&#x7406;&#x8D22;&#x4EA7;&#x54C1;&#x540D;&#x79F0;
          |             
          .col-md-2.col-sm-2.col-xs-2.uFPP_b
            h4 &#x5DF2;&#x652F;&#x4ED8;&#x4EA7;&#x54C1;&#x4EF7;&#x683C;(&#x4E07;&#x5143;&#xFF09;
          |             
          .col-md-1.col-sm-1.col-xs-1.uFPP_b
            h4 &#x5DF2;&#x62B5;&#x91D1;&#x989D;
          |             
          .col-md-1.col-sm-1.col-xs-1.uFPP_b
            h4 &#x5E74;&#x5316;&#x6536;&#x76CA;
          |             
          .col-md-1.col-sm-1.col-xs-1.uFPP_b
            h4 &#x62B5;&#x62BC;&#x64CD;&#x4F5C;
      // 数据1
      .text-center.container
        .col-md-3.col-sm-3.col-xs-3.uFPP_bb
          h4
            | 00000000000000000001
            // 00000587801197bf70baef144bba6dfb533621f304b541df8c
        |         
        .col-md-2.col-sm-2.col-xs-2.uFPP_bb
          h4 20170001
        |         
        .col-md-2.col-sm-2.col-xs-2.uFPP_bb
          h4 &#x706B;&#x661F;&#x7406;&#x8D22;&#x58F9;&#x53F7;A
        |         
        .col-md-2.col-sm-2.col-xs-2.uFPP_bb
          h4 35
        |         
        .col-md-1.col-sm-1.col-xs-1.uFPP_bb
          h4 20
        |         
        .col-md-1.col-sm-1.col-xs-1.uFPP_bb
          h4 6.21%
        |         
        .col-md-1.col-sm-1.col-xs-1.uFPP_bb
          h4.uFPP_bb_btn.btn.btn-success &#x62B5;&#x62BC;
      // 数据1结束
      // 数据2
      .text-center.container
        .col-md-3.col-sm-3.col-xs-3.uFPP_bb
          h4
            | 00000000000000000255
            // 00000587801197bf70baef144bba6dfb533621f304b541df8c
        |         
        .col-md-2.col-sm-2.col-xs-2.uFPP_bb
          h4 20170025
        |         
        .col-md-2.col-sm-2.col-xs-2.uFPP_bb
          h4 &#x706B;&#x661F;&#x7406;&#x8D22;&#x58F9;&#x53F7;B
        |         
        .col-md-2.col-sm-2.col-xs-2.uFPP_bb
          h4 105
        |         
        .col-md-1.col-sm-1.col-xs-1.uFPP_bb
          h4 0
        |         
        .col-md-1.col-sm-1.col-xs-1.uFPP_bb
          h4 4.56%
        |         
        .col-md-1.col-sm-1.col-xs-1.uFPP_bb
          h4.uFPP_bb_btn.btn.btn-success &#x62B5;&#x62BC;
        |         
        .uFPP_bbb.text-center.col-md-12
      // 数据2 结束
      // 加最下面的横线
    // 测试点击跳转
    button.btn.btn-success.text-center(onclick='window.open("userMortgageSearch.html")')
      | &#x70B9;&#x51FB;&#x8DF3;&#x8F6C;
    // 测试点击跳转
