doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    title userMortgageHistory
    |     
    link(rel='stylesheet', href='css/bootstrap.min.css')
    |     
    link(rel='stylesheet', href='css/userFinancialProductsPurchase.css')
    |     
    link(rel='stylesheet', href='css/userMortgageSearch.css')
  body
    .userlog_background
      img(src='images/userMortgageSearch.png', alt='')
    header.container-fluid.navbar-fixed-top.user_top
      .userLogin_top
        .text-center.col-md-8.col-sm-8.col-xs-6
          h2 &#x706B;&#x661F;&#x94F6;&#x884C;&#x661F;&#x706B;&#x8DEF;&#x652F;&#x884C;
        |         
        .col-md-1.col-sm-1.col-xs-2
          p.btn.btn-success &#x7406;&#x8D22;
        |         
        .col-md-1.col-sm-1.col-xs-2
          p.btn.btn-success &#x62B5;&#x62BC;
        |         
        .col-md-1.col-sm-1.col-xs-2
          p.btn.btn-success &#x8D37;&#x6B3E;
    // top 结束！
    .userFinancialProductsPurchase_body
      .row.text-center
        .ufpp_body_h.container.text-center
          img.img-rounded(src='images/buybtnb.png', alt='')
          |             
          h2.text-center &#x62B5;&#x62BC;&#x9875;&#x9762;
        |         
        .umh_bord_m.container
          .col-md-4.col-sm-4.col-xs-3.text-center.uFPP_bb
            h4 &#x4EA4;&#x6613;&#x5355;&#x53F7;:
          |             
          .col-md-8.col-sm-8.col-xs-9.uFPP_bb
            h4 00000587801197bf70baef144bba6dfb533621f304b541df8c
        |         
        .container
          .col-md-4.col-sm-4.col-xs-3.text-center.uFPP_bb
            h4 &#x4EA4;&#x6613;&#x5386;&#x53F2;:
          |             
          .col-md-8.col-sm-8.col-xs-9.uFPP_bb
            h4 &#x62B5;&#x62BC;&#x7B2C;&#x4E00;&#x6B21;      13&#x4E07;
        |         
        .container
          .col-md-4.col-sm-4.col-xs-3.text-center.uFPP_bb
            h4 &#x4EA4;&#x6613;&#x5386;&#x53F2;:
          |             
          .col-md-8.col-sm-8.col-xs-9.uFPP_bb
            h4 &#x62B5;&#x62BC;&#x7B2C;&#x4E8C;&#x6B21;      4&#x4E07;
          |             
          .umh_bordd.col-md-12.col-sm-12.col-xs-12
          | /
        // 
        // 
        .ufpc_btn.col-md-12
          .text-center
            h1.btn.btn-success &#x786E;&#x8BA4;&#x652F;&#x4ED8;
      // 测试点击跳转
      button.btn.btn-success.text-center(onclick='window.open("userMortgageTransaction.html")')
        | &#x70B9;&#x51FB;&#x8DF3;&#x8F6C;
      // 测试点击跳转
