doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    title userMortgageSearch
    |     
    link(rel='stylesheet', href='css/bootstrap.min.css')
    |     
    link(rel='stylesheet', href='css/userFinancialProductsPurchase.css')
    |     
    link(rel='stylesheet', href='css/userMortgageSearch.css')
  body
    .userlog_background
      img(src='images/userMortgageSearch.png', alt='')
    header.container-fluid.navbar-fixed-top.user_top
      .userLogin_top
        .text-center.col-md-8.col-sm-8.col-xs-6
          h2 &#x706B;&#x661F;&#x94F6;&#x884C;&#x661F;&#x706B;&#x8DEF;&#x652F;&#x884C;
        |         
        .col-md-1.col-sm-1.col-xs-2
          p.btn.btn-success &#x7406;&#x8D22;
        |         
        .col-md-1.col-sm-1.col-xs-2
          p.btn.btn-success &#x62B5;&#x62BC;
        |         
        .col-md-1.col-sm-1.col-xs-2
          p.btn.btn-success &#x8D37;&#x6B3E;
    // top 结束！
    .userFinancialProductsPurchase_body
      .row.text-center
        .ufpp_body_h.container.text-center
          img.img-rounded(src='images/buybtnb.png', alt='')
          |             
          h2 &#x62B5;&#x62BC;&#x9875;&#x9762;
        |         
        .container-fluid.userMortgageSearch
          div
            .col-md-4.col-sm-4.col-xs-4.text-right
              label &#x7406;&#x8D22;&#x5355;&#x53F7;&#xFF1A;
            |                 
            .col-md-5.col-sm-5.col-xs-5
              input.form-control(type='text', value='00000587801197bf70baef144bba6dfb533621f304b541df8c')
            |                 
            .col-md-3.col-sm-3.col-xs-2.text-left
              button.btn.btn-success &#x67E5;&#x8BE2;
      // 测试点击跳转
      button.btn.btn-success.text-center(onclick='window.open("userMortgageHistory.html")')
        | &#x70B9;&#x51FB;&#x8DF3;&#x8F6C;
      // 测试点击跳转
